<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="studentinfo-logic" class="paprika.mvc.StudentInfoLogic">
		<property name="studentInfoDao" ref="studentinfo-dao"></property>
	</bean>
	
	<!-- 트랜잭션 처리  throw e; crudXXX doXXX DI 해줘야 할 게 있다. -->
</beans>