<?xml version="1.0" encoding="UTF-8"?>
<!-- xmlns = xml namespace -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- StudentInfoController 선언 -->
	<bean id="studentinfo-controller" class="kr.ac.paprika.mvc.StudentInfoController">
		<property name="methodNameResolver" ref="studentinfo-resolver" />
		<property name="studentInfoLogic" ref="studentinfo-logic" />
	</bean>

	<!-- ======== SimpleUrlHandlerMapping 땅 ======== -->
	<bean id="url-mapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/paprika/getStudentInfo.do">studentinfo-controller</prop>
				<prop key="/paprika/studentInfoUpdate.do">studentinfo-controller</prop>
				<prop key="/paprika/getRegisterRecord.do">studentinfo-controller</prop>
				<prop key="/paprika/getCourseHistory.do">studentinfo-controller</prop>
				<prop key="/paprika/getGradeHistory.do">studentinfo-controller</prop>
			</props>
		</property>
	</bean>

	<!-- ======== PropertiesMethodNameResolver 땅 ======== -->
	<bean id="studentinfo-resolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="mappings">
			<props>
				<prop key="/paprika/getStudentInfo.do">getStudentInfo</prop>
				<prop key="/paprika/studentInfoUpdate.do">studentInfoUpdate</prop>
				<prop key="/paprika/getRegisterRecord.do">getRegisterRecord</prop>
				<prop key="/paprika/getCourseHistory.do">getCourseHistory</prop>
				<prop key="/paprika/getGradeHistory.do">getGradeHistory</prop>
			</props>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>